---
import GitHub from "./icons/GitHub.astro"
import Nextjs from "./icons/NextJS.astro"
import Reactjs from "./icons/Reactjs.astro"
import Expressjs from "./icons/Express.astro"
import Nodejs from "./icons/Node.astro"
import Tailwind from "./icons/Tailwind.astro"
import Link from "./icons/Link.astro"
import LinkButton from "./LinkButton.astro"

const TAGS = {
  NEXTJS: {
    name: "Nextjs",
    class: "bg-black text-white",
    icon: Nextjs,
  },
  REACT: {
    name: "Reactjs",
    class: "bg-black text-white",
    icon: Reactjs,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
  NODE: {
    name: "NODEJS",
    class: "bg-[#003159] text-white",
    icon: Nodejs,
  },
  EXPRESS: {
    name: "ExpressJS",
    class: "bg-[#003159] text-white",
    icon: Expressjs,
  },
}
const PROJECTS = [
  {
    title: "ServiciosYA",
    description:
      "Plataforma para la gestion de tickets. Enfocado en cualquier negocio que preste servicios de reparacion a sus clientes.",
    link: "cambiando de host",
    github: "https://github.com/IsaacFloresv/nc-ServiciosYa",
    alt: "imagen de proyecto ServiciosYa - Page Home.",
    image: "/projects/ServiciosYa.png",
    tags: [TAGS.REACT, TAGS.TAILWIND, TAGS.NODE, TAGS.EXPRESS],
  },
  {
    title: "T-Acerco",
    description:
      "Plataforma dirigida a la creacion de evento y agenda de asistencia.",
    link: "Cambiando de host",
    github: "https://github.com/IsaacFloresv/nc-tacerco",
    alt: "imagen de proyecto T-Acerco - Page Home.",
    image: "/projects/tacerco.png",
    tags: [TAGS.REACT, TAGS.TAILWIND, TAGS.NODE, TAGS.EXPRESS],
  },
  {
    title: "Apprendimiento",
    description:
      "Plataforma dirigida a la gestion de la curricula de una institucion educativa.",
    link: "Cambiando de host",
    github: "https://github.com/IsaacFloresv/nc-Aprendimiento",
    alt: "imagen de proyecto Apprendimiento - tablero de directivo.",
    image: "/projects/Apprendimiento2.png",
    tags: [TAGS.REACT, TAGS.TAILWIND, TAGS.NODE, TAGS.EXPRESS],
  },
]
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ alt, image, title, description, tags, link, github }) => (
    <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
  <div class="w-full md:w-1/2">
    <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
      <img alt={alt} class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105" loading="lazy" src={image} />
    </div>
  </div>

  <div class="w-full md:w-1/2 md:max-w-lg">
    <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
      {title}
    </h3>
    <div class="flex flex-wrap mt-2">
      <ul class="flex flex-row mb-2 gap-x-2">
          {tags.map((tag) => (
            <li>
              <span
                class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
              >
                <tag.icon class="size-4" />
                {tag.name}
              </span>
            </li>
          ))}
        </ul>

      <div class="mt-2 text-gray-700 dark:text-gray-400">{description}</div>
      <footer class="flex items-end justify-start mt-4 gap-x-4">
          {github && (
            <LinkButton href={github}>
              <GitHub class="size-6" />
              Code
              
            </LinkButton>
          )}
          {link && (
            <LinkButton href={link}>
              <Link class="size-4" />
              Preview
            </LinkButton>
          )}
        </footer>
    </div>
  </div>
</article>
    ))
  }
</div>



